.offers-row {


  app-offer-item {
    margin: 0 20px;
  }
}

.big-offer{
  margin: 0 20px
}

@media(min-width: 1100px) {
  .offers-row {
    display: flex;
    flex-direction: row;

    app-offer-item {
      width: calc(33% - 40px);
    }
  }

}
